src/main/mule/7_11_20_jenkins_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="817f87b2-c0f8-4342-a37c-77f185f33e9a" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="jenkins_demoFlow" doc:id="0723d662-1762-4c4d-8a45-5929916d7566" >
		<http:listener doc:name="Listener" doc:id="64081a7a-acec-4bc7-a33b-a9baa2438401" config-ref="HTTP_Listener_config" path="/jen"/>
		<set-payload value="#['CI/CD March class']" doc:name="Set Payload" doc:id="b9270898-af6c-4af3-95cb-b3540b31c0ad" />
	</flow>
</mule>
